
.container {
    width: 960px;
    margin: 0 auto;
}

.top, .banner, .main, .footer {
    background-color: cyan;
}

.top {
    height: 80px;
}

.banner {
    height: 120px;
    margin: 10px auto;
}

.main {
    height: 300px;
    margin: 10px auto;
}

.footer {
    height: 80px;
}

.copyright {
    margin: 10px auto;
    height: 80px;
}